.slick-slide {
  height: 80vh;
  text-align: center;
  color: white;
  font-size: 20px;
  display: table;
}

.slick-slide div {
  display: table-cell;
  vertical-align: middle;
}

.slide-0 {
  background: red;
}

.slide-1 {
  background: orange;
}

.slide-2 {
  background: green;
}

.slide-3{
  background: black;
}
